*{
    font-family: 'Lato', sans-serif;
    font-weight: 50;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #D4B97F;
    border-top: 1px solid #D4B97F;
}

.navtext{
    color: black;
    font-size: 15px;
    margin: 40px;
}

.navtext:hover{
    text-decoration: underline;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}


.aboutmesection{
    position:relative;
    height: 800px;
    width: 100vw;
    margin: 0%;
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    background-color: white;
}

.profilepic{
    padding-left: 200px;
}

.profileimg{
    border-radius: 50px;
}

.aboutmebox{
    width: 500px;
    padding-left: 100px;
}

.aboutmetext{
    font-size: 20px;
    color: black;
    line-height: 1.5;
}


.education{
    height: 350px;
    width: 50%;
    margin: auto;
    text-align: center;
    align-content: center;
    border-bottom: 1px solid black;
}

ul{
    font-size: 15px;
    color:black;
    list-style-type: none;
}

.work{
    height: 350px;
    width: 50%;
    margin: auto;
    text-align: center;
    align-content: center;
}

p{
    font-size: 10px;
    color:black;
}


.project1{
    position:relative;
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.project1text:hover,
.project3text:hover,
.project4text:hover {

}

.project1box{
    position: absolute;
    width: 500px;
    padding-left: 500px;

}


.project1text{
    font-size: 15px;
    color: black;
    line-height: 1.5;
}


.project1img{
    padding-left:150px;
}


.project3{
    position:relative;
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
}

.project3box{
    position:absolute;
    width: 500px;
    padding-left: 500px;
}

.project3text{
    font-size: 15px;
    color: black;
    line-height: 1.5;
}

.project3img{
    padding-left: 150px;
}

.project4{
    position:relative;
    height: 300px;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.project4box{
    position:absolute;
    width: 500px;
    padding-left: 500px;
}

.project4text{
    font-size: 15px;
    color: black;
    line-height: 1.5;
}

.project4img{
    padding-left: 20px;
}

.services{
    height: 1000px;
    display:flex;
    position: relative;
}

.servicesimage{
    padding-left: 100px;
    padding-top: 200px;
}

.servicestext{
    width: 500px;
    text-align: left;
    padding-left: 100px;
    font-size: 15px;
    line-height: 1.5;
    padding-top: 175px;
}

.servicestext ul{
    margin: 0;
    padding:0;
    list-style-type: disc;
}

.testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    
}

.contact{
    background-color: #264d28;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: right;
    border-top: 1px solid black;

}

.contacttext{
    font-size: 15px;
    color: white;
    margin: 40px;
}
