*{
    font-family: 'Courier New', Courier, monospace;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid black;
}

.navtext{
    color: black;
    font-size: 20px;
    margin: 40px;
}

.navtext:hover{
    text-decoration: underline;
    color: black;
}


.aboutmesection{
    position:relative;
    background-color: #d4c2b0;
    height: 500px;
    width: 100vw;
    margin: 0%;
}

.profilepic{
    padding-top: 50px;
    padding-left: 200px;
}

img{
    border-radius: 50px;
}
